div{
height: 100px;
width: 100px;
    background-color: blue;
}
@media (width:600px){
    div{
        background-color: black;
    }
}
@media(min-width: 600px)
{
    div{
        background-color: aqua;
    }
}
/* min matlab 600 se zada pe */
@media(max-width: 200px)
{
    div{
        background-color: rgb(177, 228, 24);
    }
}
@media(min-width: 600px) and (max-width: 200px)
{
    div{
        background-color: rgb(25, 81, 5);
    }
}