div{
    color: #ff0000;
}

*{
    color: pink;
} 
/* *WALA HAI UNIVERSAL */
h1{
    color: red;
} 
/* JO bAAD ME CHANGE KARA VO PRIORITY ME */
h2{
    color: aqua;
} 
h3{
    color:black;


}
p{
    color: gray;
    background-color: #ff0000; 
    color: #ff0000;
}
button{
    color: blueviolet;
    background-color: aqua;
}
body{
    background-color:rgb(229, 28, 155);
    

} 
#HI1{
    color: rgb(194, 126, 126);
}
#hello{
    color: yellowgreen;
    background-color: cornsilk;
}
.aura{
    color: darkcyan;
    background-color: blueviolet;
}

/* same id dena is wrong but same class dena is right */