p{
    text-align: right;
}
/* by default left */
h1{
    text-align: center;
    text-decoration: blue underline;
    font-weight: 900;

}
a{
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}
#one{
font-family: cursive;

}
#two{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    line-height: 2px;
    line-height: 25px;
    text-transform: uppercase;
    /* , ,, , mtlb agar ejk na chale to koi aur chaljaye */
}