#box1{

    height: 100px;
    width: 100px;
    background-color: aqua;
    font-size: 10px;
}
#box2
{
    height: 50px;
    /* width: 30%; it will take width of parent */
    /* width: 30%; */
    background-color: chartreuse;
    margin-left: 10%;
    font-size: 2em;
    width: 5em;
    font-size: 5rem;
    /* 0.5 or anything */
}