*{
    margin: 0;
    padding: 0;
    color: white;
}
#navbar{
    height: 60px;
    background-color: black;
}
#logo{
    color: yellow;
}
a{
    margin-right: 200px;
}
button{
    background-color: burlywood;
    color: black;}

#content{

    height: 500px;
    width: 500px;
    /* background-color: aqua; */
    border: solid;
    border-color: black;
    
}    
.box{
    height: 100px;
width: 100px;
margin: 2px;
background-color: rgb(182, 41, 16);
text-align: center;
display: inline-block;
border: solid;
border-color: black;



    }
    footer{
        background-color: black;
        text-align: center;
    }