div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
    
    
    }
    #box1{
        position: fixed;
        background-color: rgb(98, 11, 173);
        background-image: url("akiiakar.png");
        background-size: cover;
        /* background-size: contain; */
        
    }
    #box2{background-color: chartreuse;
        
    
        
    }
    #box3{
        background-color: darkcyan;
        left: 200px;
        top: 0;
        position: sticky;
       
    }
    #box4{
      background-color: crimson;
    }