div{

    background-color: aqua;
height: 100px;
width: 100px;
position: absolute;
left: 100px;
top: 100px;
border: 2px solid black;
transition-property: all;
transition-duration: 3s;
transition-timing-function: ease-in-out;
transition-delay: 0.5s;
/* transform: rotate(90deg); */
transform: scale(2.5);


}
div:hover{
    background-color: brown;
   
    
    color: aliceblue;
    font-size: 20px;
    
    transform: scale(2);
    transform: rotate(45deg);
    transform: translate(500px,44px);
  
}
div:active{
   background-color: burlywood;
   transform: scale(0.5);
    color: blue;
    transform: skew(40deg);

}