div{

    background-color: aqua;
height: 100px;
width: 100px;
border: 2px solid black;
transition-property: all;
transition-duration: 5s;
transition-timing-function: ease-in-out;
transition-delay: 1s;
transform: rotate(90deg);


}
div:hover{
    background-color: brown;
    background-image: url(jjk.jpeg);
    background-size: cover;
    color: aliceblue;
    font-size: 20px;
  
}
div:active{
    background-image: url(berserk.jpeg);
    background-size: cover;
    color: blue;
}